@media (min-width: 1100px){
      header span{
    font-size: 2.2rem;
  }
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    section{
        height: auto;
    }
    .list section{
        grid-template-columns: 1.3fr 1.5fr 1fr 1fr;}
    .list section   h3 {
			font-size: 1.2rem;
            

		}
        
    .list section  p, .list section a{
            font-size: 1.1rem;
            
            

        }
    .weather{
        grid-template-columns: 2fr 1fr 1fr;
    }
    .business{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    }
    .business section{
        margin: 20px;
    }
    
    
}