:root {
    --primary-color: #29a6d3;
    --secundary-color: #c7e5eb;
    --third-color: #edbc9c;
    --body-font: sansita, sans-serif;
    --h-font: 'sansita Swashed', serif;
}
*{
    margin: 0;
    font-family: var(--body-font);
    box-sizing: border-box;
}
header span { 
    font-size: 1.3rem; 
    color: black;
    font-family: 'Caveat brush', 'lexend', sans-serif;
    
    display: flex;
    align-items: center;
    
}
header img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25%;
    border: 2px solid black;
}
.header{
    display: grid;
    grid-template-columns: 60px auto 44px;
    background-image: linear-gradient( var(--primary-color),var(--secundary-color));
    padding: 5px;
    padding-left: 1.5rem;
    column-gap: 8px;
}
h1, h2, h3{
    font-family: var(--h-font);
}
h1{
    font-size: 40px;
    
}
/******************************************* HAMBURGER *******************************************/

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 0;
}
.hamburger::before{
    content: "\2630";
    
}
.hamburger.show::before{
    content: '\00d7';

}
/**************************************** NAVIGATION ****************************************/

.navigation{
    display: none;
    grid-column: 1/4;
    width: 100%;
    font-family: 'Caveat brush', 'lexend', sans-serif;
    background-color: white;
}
.navigation.show{
    display: block;
}
.navigation ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation ul a{
    display: block;
    padding: 0.8rem 10px;
    color: rgb(31, 31, 31);
    text-decoration: none;
    border-bottom: solid 1px #b7d5d7; 
    font-size: 15px;
}
.navigation li.current{
    background-color: var(--secundary-color);
}
.navigation li:hover{
     background-color: var(--third-color);
     text-decoration: underline;
}
.directory, .home {
	margin: 0 auto;
	padding: 0 1.5rem 2.5rem;

	background-color: #fff;
	font-family: Acme, Arial, sans-serif;
}

.hero{
    position: relative;
    /* display: inline-block; */
}
.hero picture img{
    width: 100%;
    height: auto;
    display: block;
}
.cta-button{
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: var(--third-color);
    padding: 10px;
    border-radius: 10px;
}
.home h2{
    font-size: 25px;
    justify-self: center;
}
.tagline{
    font-size: smaller;
    justify-self: center;
}
.business h2{
    font-size: larger;
}
.business section > p{
    margin-bottom: 5px;
   justify-self: center;
   font-size: small;
}
.business section{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-top: 10px;
    margin-top: 30px;
    background-image:linear-gradient(rgb(148, 182, 241), var(--secundary-color) ) ;
    align-items: center;
    text-align: center;
}
.business-details img{
    max-width: 200px;
    /* min-width: 120px; */
    /* justify-self: center; */
    width: 100%;
    height: auto;
    border-radius: 20%;
    padding: 10px;
}
.contact-info {
    padding: 10px;
    padding-left: 0;
    font-size: 0.8rem;
    min-width: 0;
}
.business-details{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: left;
    border-top: 1px solid #555;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}
.business-details p{
    grid-column: 2;
}
.contact-info a{
    display: block;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}
 .business-details span{
    font-weight: 800;
}
.weather section{
    /* padding: 10px;
    padding-top: 0; */
    margin: 20px 0;
    background-color: var(--secundary-color);
    border-radius: 10px;
}
.weather h2{
    background-image: linear-gradient( var(--primary-color), var(--secundary-color), var(--primary-color));
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
#weather-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
#weather-info p{
    grid-column: 2;
    padding: 2px;
}
.weather h2{
    padding: 10px 0;
}
 .weather p, #weather-info{
    padding: 10px;
}
.weather-forecast p{
    font-size: larger;
}
.weather-forecast span{
    font-weight: 600;
}
.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	background-image: linear-gradient( var(--primary-color),var(--secundary-color),var(--primary-color));
	text-align: center;
}
button {
	padding: 0.5rem 1rem;
	font-weight: 700;
}
.menu button:hover{
    background-color: var(--third-color);
}

.directory section {
	/* border: 1px solid rgb(0, 0, 0); */
	padding: 30px 20px;
	
	text-align: center;
}
section	a {
		font-family: Arial, sans-serif;
		font-size: 0.85rem;
		color: navy;
	}

section	h3 {
		font-size: 1.5rem;
	}

.grid {
	display: grid;
	grid-gap: 15px;
	align-items: stretch;
}
.grid section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient( var(--primary-color),var(--secundary-color));
        padding: 1rem;
        border: 1px solid #ccc;
        text-align: center;
        align-items: center;
}
.grid img, .grid p, .grid h3 {
			margin: 0.1rem;
		}
	

.grid img {
		border: 1px solid #fff;
		box-shadow: 0 0 1rem #555;
        width: 200px;
        height: auto;
	}

.grid section:hover {
    transform: translateY(-5px);
}
h2 {
	font-size: 1rem;
}

.list {
	display: flex;
	flex-direction: column;
}
.list section {
		display: grid;
		grid-template-columns: 2fr 1.5fr 1fr 1fr;
		margin: 0;
		padding: 2px .25rem;
        background-color: var(--secundary-color);
        align-items: center;
        justify-items: left;

}        
		.list section img, .list section p, .list section h3 {
			margin: 0 1rem;
		}

		.list section img {
			display: none;
		}

		.list section h3 {
			font-size: 0.7rem;
     

		}
        .list section a{
            display: block;
            max-width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .list section p, .list section a{
            font-size: 0.6rem;
           
        }
		.list section:nth-child(even) {
			background-color:#c7d3eb;
		}
	

.list section :nth-child(6) { display: none; }

/*************************************** FOOTER *********************************************/

footer {
    padding: 20px ;
    text-align:left;
    font-size: 15px;
    min-height: auto;
    font-family: 'Caveat brush', 'lexend', sans-serif;
    background-image: linear-gradient( var(--secundary-color),var(--primary-color));
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 15px;
}

.social img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.social img:hover{
    background-color: #ccc;
}
#linkedin{
    border-radius: 6px;
}
