@media (min-width: 600px){
/***************************************** HEADER **********************************************/
    nav{
        align-self: center;
    }
    header{
        display: flex;
        background-image: linear-gradient( var(--primary-color),var(--secundary-color));
        justify-content: space-between;
    }
    .header{
        background: none;
        display: flex;
        align-items: center;
    }
    .header img{
        height: 60px;
        width: auto;
    }
      header span{
    font-size: 1.6rem;
  }
.hamburger {
    display: none;
  }

  .navigation li a{
    border: none;
  }
  .navigation {
        display: block;
        width: auto;
        background: none;
        justify-content: center;
        padding: 0 16px;
      
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-self: right;
    
    }
    .navigation li.current{
        background-color: transparent;
}
        .navigation li.current a{
            color: rgb(0, 0, 136);
        }
    
    .navigation li:hover{
        background-color: transparent;
    }
    .navigation li a:hover {
         color: black; 
    }


h1{
    font-size: xxx-large;
}
.grid{
    grid-template-columns: 1fr 1fr;
}
.list section{
    padding: 1.2rem 0.25rem;
}
        .list section h3 {
			font-size: 1rem;
            

		}
        
        .list section p, .list section a{
            font-size: 0.9rem;
            
            

        }

.weather{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.weather section{
    margin: 20px;
}
.business{
    padding: 0 50px;
}
.join-main {
        padding: 40px 0 40px 30px; 
    }

    .designOne fieldset {
        padding: 40px;
    }

footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 1% 2.5%;
    }
.dev-info{
    padding-left: 16px;
}
.join-main {
        display: grid;
        grid-template-columns: 1.5fr 1fr; 
        gap: 30px;
        align-items: start;
        max-width: 1000px;
        margin: 0 auto;
    }

    .join-main h1{
        grid-column: 1/3;
        padding: 10px;
        margin: 0;
    }
    .join-main fieldset {
        
        margin: 0; 
    }

    
    .membership-cards {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .membership-cards h2 {
        margin-top: 20px;
    }
    .thanks-main h1{
        text-align: center;
    }
    #allplaces div {
        grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "photograph name"
    "photograph description"
    "photograph location"
    "button button";
}
#allplaces div img{
    width: 300px;
    filter: brightness(0.9);
        transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
        cursor: pointer;
}
#allplaces div figure{
    max-width: 200px;
    max-height: 300px;
}
#allplaces div img:hover {
        filter: brightness(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        z-index: 10;
    }
}
@media (min-width: 650px){
    .thanks-container{
        margin: 40px auto;
    }
}
