@media (min-width: 600px) {
    h1{
        text-align: left;
        font-size: 2.7rem;
        padding-left: 20px;
    }
    /* .hamburger { display: none; } */
    nav ul { display: flex; justify-content: center; }
    header img {
    width: 120px;
    margin-left: 15px;
}

    nav{
        align-self: center;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .header{
        /* background: none; */
        display: flex;
        /* grid-template-columns: 1fr 2fr; */
        align-items: center;
        width: 100%;
    }
    .index{
        grid-template-areas:
        'intro intro intro'
        'library tool learning'
        
        'riff riff riff';
    }

.hamburger {
    display: none;
  }

  .navigation li a{
    border: none;
    color: var(--text-color);
    background-color: transparent;
  }
  .navigation {
        display: block;
        width: auto;
        background: none;
        justify-content: center;
        padding: 0 16px;
      
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-self: right;
    
    }

        .navigation li a.current{
            color: black;
        }
    
    .navigation li a:hover, .navigation li a.current:hover{
         color: rgb(66, 29, 29); 
         font-size: large;
         background-color: transparent;
    }
    .designOne fieldset {
        padding: 40px;
    }
    .join-main {
        display: grid;
        grid-template-columns: 1.5fr 1fr; 
        gap: 30px;
        align-items: start;
        max-width: 1000px;
        /* margin: 0 auto; */
    }

    .join-main h1{
        grid-column: 1/3;
        padding-left: 35px;
        
        margin: 0;
    }
    .join-main fieldset {
        
        margin: 0; 
    }

    
    .membership-cards {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .membership-cards h2 {
        margin-top: 20px;
    }
    .thanks-main h1{
        text-align: center;
    }
}
