
:root {
    --primary-color: #f73642;    
    --bg-color: #121212;        
    --text-color: #F1FAEE;     
    --secondary-bg: #1e1e1e;
    --heading-font: 'Bebas Neue', cursive;
    --body-font: 'Lexend', sans-serif;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--body-font);
    line-height: 1.6;
    margin: 0;
}


h1, h2, h3 {
    font-family: var(--heading-font);
    letter-spacing: 1px;
}

h2, h3 { color: var(--primary-color); }

.header{
    align-items: center;
    display: grid;
     grid-template-columns: 2fr 3fr 2fr ;
    padding: 10px;
}
header img {
    border-radius: 50% 50% 47% 47%;
    background-color: white;
    padding: 5px;
    
    
    width: 100px;      
    max-width: 100%;  
    height: auto;     
    
    box-sizing: border-box;
    box-shadow: 0 0 20px #45080c;
    object-fit: cover;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--text-color); 
    text-align: center;
}
footer{
    padding: 2rem 1rem;
}
h1 {
    font-size: 2rem;
    padding-left: 15px;
    margin: 0; 
    line-height: 1;
}

header p, footer p { font-weight: 800; font-size: 1.2rem; }



main {
    margin: 0 auto;
    position: relative;
}

.intro, .card {
    background-color: var(--secondary-bg);
    padding: 2rem;
    
    border-radius: 8px;
    border-left: 8px solid var(--primary-color);
    margin: 1rem;
    
    max-width: 100%;
}







/******************************************* HAMBURGER *******************************************/

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0;
}
.hamburger::before{
    content: "\2630";
    
}
.hamburger.show::before{
    content: '\00d7';

}
/**************************************** NAVIGATION ****************************************/

.navigation{
    display: none;
    grid-column: 1/4;
    width: 100%;
    font-family: 'Caveat brush', 'lexend', sans-serif;
    background-color: white;
}
.navigation.show{
    display: block;
}
.navigation ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation ul a{
    display: block;
    padding: 0.8rem 10px;
    color: var(--text-color);
    background-color: var(--secondary-bg);
    text-decoration: none;
    border-bottom: solid 1px #b7d5d7; 
    font-size: 15px;
    transition: 0.5s ease;
}

.navigation li:hover{
     text-decoration: underline;
     color: rgb(29, 0, 0); 

}
.navigation ul a:hover, .navigation ul a.current:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
}


.hero {
    position: relative; 
    width: 100%;
}

.hero-img {
    width: 100%;
    height: auto;
    
    display: block; 
    filter: brightness(0.8); 
}

.hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    text-align: center;
    width: 85%;
    max-width: 500px;
}

.hero-msg h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: white; 
}

.cta-button {
    display: inline-block;
    padding: 10px;
    background-color:#d11e2a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}

.cta-button:hover {
    
    transform: scale(1.05);
}

.cards-container{
    max-width: 100%;
    display: grid;
    
}
.index{
    grid-template-areas:
    'intro'
    'library'
    'tool'
    'learning'
    'riff';
}
.index img{
    width: 300px;
    max-width: 100%;
}
#intro{
    grid-area: intro;
}
#c-library{
    grid-area: library;
}
#i-tool{
    grid-area: tool;
}
#p-learning{
    grid-area: learning;
}
#riff-weekly{
    grid-area: riff;
}

#riff-weekly img{
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.index img{
    border-radius: 15px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    justify-content: center;
}

.chords{
    padding: 20px 10px;
}
#chordInput, #artistInput {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    background: #222;
    color: white;
    width: 60%;
}


#chord-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1200px;
    margin: 2rem auto;
    gap: 20px;
}

.chord-card {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
#guitar-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px; 
    margin: 2rem auto;
    padding: 0 1rem;
}

.guitar-card {
    background-color: var(--secondary-bg);
    border-radius: 8px;
    overflow: hidden;
    border-bottom: 5px solid var(--primary-color); 
    transition: transform 0.3s ease;
}

.guitar-card:hover {
    transform: translateY(-10px);
}

.guitar-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
}
.warning{
    padding: 16px;
}
.tag {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.join-main h1, .discover-container h1{
    padding: 0 30px;
}
.join-main{
    margin: 0 20px;
}
.join-main h1{
    padding-top: 20px;
}
.designOne {
    max-width: 900px;
    margin: 20px auto;
}

.designOne fieldset {
    
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--secondary-bg); 
}

.designOne legend, .membership-cards h2 {
    color: var(--primary-color); 
    font-weight: 700;
    padding: 0 10px;
    font-size: 1.3rem;
    font-family: var(--heading-font);
    letter-spacing: 1px;
}

.designOne label {
    display: block;
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: 600;
}


.designOne input[type="text"],
.designOne input[type="tel"],
.designOne input[type="email"],
.designOne select,
.designOne textarea {
    max-width: 100%;
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}


.designOne .submitBtn {
    background-image: linear-gradient(var(--bg-color), rgb(101, 1, 1));
    color: white;
    padding: 15px;
    font-size: 1.15rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-top: 20px;
    transition: 0.5s ease;
}

.designOne .submitBtn:hover, .open-modal:hover {
    background-position: right center; 
    filter: brightness(1.2); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.designOne textarea{
    display: flex;
    flex-direction: column;
}
.thanks-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid var(--secundary-color);
    border-radius: 8px;
    background-color: var(--secondary-bg);
}
.thanks-container a, .navigation ul  a.current{
    color: #FFD700;
}
.thanks-main{
    margin: 0 20px;
}
.thanks-main h2{
    text-align: center;
    padding-top: 20px;
    font-size: xx-large;
}
.thanks-container h2{
    font-size: x-large;
}
.results-list {
    list-style: none;
    padding: 0;
}

.results-list li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
}

.results-list strong {
    color: var(--primary-color);
}
dialog {
    border: none;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 10px;
    background-color: var(--secondary-bg);
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    justify-self: center;
    align-self: center;
    color: var(--text-color);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7); 
}

.close-modal {
    float: right;
    background: rgb(101, 1, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0;
}

dialog h2 {
    padding-bottom: 10px;
    font-size: larger;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.membership-cards h2{
    padding-left: 20px;
}
.card-levels {
    background-color: var(--secondary-bg);
    padding: 1.5rem;
    margin: 10px 20px;
    border-radius: 0 30px 0 30px;
    border-left: 5px solid var(--primary-color);
    text-align: center;
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0; 
}


#card-np { animation-delay: 0.2s; }
#card-bronze { animation-delay: 0.4s; }
#card-silver { animation-delay: 0.6s; }
#card-gold { animation-delay: 0.8s; }

.open-modal{
    border-radius: 5px;
    background-image: linear-gradient(var(--bg-color), rgb(101, 1, 1));
    color: var(--text-color);
    transition: 0.5s ease;
}

footer a{
    color: #000000;
}