@media only screen and (min-width: 760px) {
  header, main, nav, footer {
    /* max-width: 900px; */
    margin: 0 auto;
  }

  header {
    /* grid-template-columns: 24px auto; */
    /* display: flex; */
    display: flex;
    flex-wrap: wrap;
  }
  header img{
    width: 44px;
    
  }
  header span{
    font-size: 2.2rem;
  }
  .header{
     flex: 1 1 100%;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1{
    grid-column: 1/4;
  }
  
  #about{
    grid-column: 1/3;
  }
  #courses{
    grid-column: 1/4;
  }
  .courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
  .hamburger {
    display: none;
  }

  .navigation {
      display: block;
      border-bottom: solid 1px #eee;
  }
  .navigation ul {
      display: flex;
      flex-direction: row;
  }
  .navigation li a{
    border: none;
  }
  .navigation {
        display: block;
        position: static; /* Volvemos al flujo normal */
        width: auto;
        background: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        /* gap: 20px; */
    }

    .navigation ul a {
        border-bottom: none;
    }
  footer p{
    font-size: larger;
}nav {
    flex: 1 1 100%;
}


}