
body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
}

h1 {
    text-align: center;
}


#cards {
    display: grid;
    grid-gap: 1.5rem; 
    padding: 1.5rem;
    
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


section {
    margin: 0;
    padding: 1.5rem;
    background-color: #7987d7;
    border: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

section:hover {
    transform: translateY(-5px); 
}

section h2 {
    margin: 1rem 0 0.5rem 0;
    text-align: center;
    color: #000000;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
}


section p {
    margin: 5px 0;
    font-size: 0.95rem;
    text-align: center;
    color: #000000;
}


img {
    width: 100%;
    max-width: 250px; 
    height: 300px;    
    object-fit: cover;
    box-shadow: 0 0 20px #777;
    border: 1px solid #111;
    margin-top: 1rem;
    background-color: #ddd;
}


footer {
    text-align: center;
    padding: 2rem;
    background-color: #2c3e50;
    color: white;
    margin-top: 2rem;
}


@media (max-width: 400px) {
    #cards {
        grid-template-columns: 1fr; 
        padding: 1rem;
    }
    
    img {
        max-width: 200px;
        height: 250px;
    }
}